name: Push to GitHub

on: 
  push:

  schedule:
    - cron: '0 */2 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:      

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Push code
        run: |
          git config --global user.name "fre_on_github_actions"
          git config --global user.email "930727fre@gmail.com"
          pip install -r requirements.txt
          python3 main.py
          echo "cat ./jsons/codeforces.json"
          cat ./jsons/codeforces.json
          echo "cat ./jsons/zerojudge.json"
          cat ./jsons/zerojudge.json
          echo "cat ./jsons/leetcode.json"
          cat ./jsons/leetcode.json   
          git add .
          git commit -m "Auto-commit by GitHub Actions"
          git push
